// Colours
//
.u-color-dark-gray {
  color: $dark-gray;
}

.u-color-invert {
  color: white;
}

.u-color-invert-secondary {
  color: $gray;
}

.u-color-primary {
  color: $primary-color;
}

.u-color-secondary {
  color: $secondary-color;
}

.u-color-accent {
  color: $accent-color;
}
