.flag-icon {
  width: 21px;
  height: 15px;
  border: 1px solid white;
  border-radius: 2px;
  box-sizing: content-box;
}

.flag-icon--popover {
  width: 21px;
  height: 15px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
}
