.nav {
  width: 100%;
  font-family: $font-family-base;
  color: $xdark-gray;

  @include breakpoint-medium {
    width: auto;
    padding-left: $space-large;
  }

  &__secondary-wrapper {
    width: 100%;

    @include breakpoint-medium {
      width: auto;
    }
  }

  &__item {
    width: 100%;
    margin-right: $space-medium;
    float: left;
    display: block;

    @include breakpoint-medium {
      width: auto;
    }
  }

  &__item-link {
    height: 17px; // matching logo height
    line-height: 17px; //matches above
    position: relative;

    &:hover {
      text-decoration: underline;
    }
  }

  &__heading {
    margin-top: $space-medium;

    &:nth-child(1) {
      margin-top: 0;
    }
  }
}

// @include breakpoint-medium {
//   .nav__item.has-breakpoint-md {
//     border-bottom: 1px solid #ddd;
//   }
// }
//
// @include breakpoint-small {
//   .nav__item.has-breakpoint-sm {
//     border-bottom: 1px solid #ddd;
//   }
// }
