.nav {
  font-family: $font-family-base;
  color: $xdark-gray;

  @include breakpoint-medium {
    padding-left: $space-large;
  }

  &__item-link {
    height: 17px; // matching logo height
    line-height: 17px; //matches above

    &:hover {
      text-decoration: underline;
    }
  }

  &__heading {
    margin-top: $space-medium;

    &:nth-child(1) {
      margin-top: 0;
    }
  }
}

// @include breakpoint-medium {
//   .nav__item.has-breakpoint-md {
//     border-bottom: 1px solid #ddd;
//   }
// }
//
// @include breakpoint-small {
//   .nav__item.has-breakpoint-sm {
//     border-bottom: 1px solid #ddd;
//   }
// }
