.nav {
  font-family: $font-family-base;
  color: $xdark-gray;

  @include breakpoint-medium {
    padding-left: $space-large;
  }

  &__toggle {
    @include button-reset;
    position: absolute;
    top: 12px;
    right: 10px;
    width: 48px;
    height: 48px;
    padding: 17px 10px;
    cursor: pointer;

    &:hover:not(.nav__toggle--active),
    &:focus:not(.nav__toggle--active), {
      .nav__toggle-slice--top {
        transform: translateY(-2px);
      }

      .nav__toggle-slice--bottom {
        transform: translateY(2px);
      }
    }
  }

  &__toggle-slice {
    position: relative;
    width: 28px;
    height: 2px;
    background-color: $primary-color;
    margin-bottom: 4px;
    transition: transform 0.15s ease-in-out,
                opacity 0.1s ease-in-out;

    &:last-child {
      margin-bottom: 0;
    }

    &--top {
      .nav__toggle--active & {
        top: 6px;
        transform: rotate(-45deg);
      }
    }

    &--middle {
      .nav__toggle--active & {
        opacity: 0;
      }
    }

    &--bottom {
      .nav__toggle--active & {
        top: -6px;
        transform: rotate(45deg);
      }
    }
  }

  &__item-link {
    height: 17px; // matching logo height
    line-height: 17px; //matches above

    &:hover {
      text-decoration: underline;
    }
  }

  &__heading {
    margin-top: $space-medium;

    &:nth-child(1) {
      margin-top: 0;
    }
  }
}

// @include breakpoint-medium {
//   .nav__item.has-breakpoint-md {
//     border-bottom: 1px solid #ddd;
//   }
// }
//
// @include breakpoint-small {
//   .nav__item.has-breakpoint-sm {
//     border-bottom: 1px solid #ddd;
//   }
// }
