.page-footer {
  background: $dark-gray;
  border-top: 12px solid $gray;
}

.page-footer__start {
  line-height: 25px;
}

.page-footer__end {
  background: $xdark-gray;
}

.page-footer__end--light {
  background: $xdark-gray;
}

.page-footer__link.is-active {
  text-decoration: none;
}

.page-footer__logo {
  width: 199px;
  height: 45px;
}

.page-footer__link-list {
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-gap: 20px;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
}

.page-footer__social-icon {
  position: relative;
  top: 2px;
}

.page-footer__legal {
  font-size: 10px;
}
