.partners-page__global-text {
  margin-top: 124px;
}

.partners-page__billing-text {
  margin-top: 45px;
}

.partners-page__illustration {
  padding: 0;
  text-align: right;
}

.partners-page__browser-image {
  width: 380px;
}

.partners-page__mobile-image {
  max-width: 304px;
}

.partners-page__container {
  border-radius: $border-radius-base;
}

.partners-page__partner-logo {
  max-width: 100px;
  max-height: 50px;
}

.partners-page__partner-logo-group {
  max-width: 673px;
}

.partners-page__quote {
  color: #B1B1B1;
}

.partners-page__button-divider {
  width: 0;
  height: 47px;
  border-left: 1px solid $gray;
  margin: 0 $space-large;
}

.partners-page__quickbooks-logo {
  margin-top: 5px;
  margin-left: -5px;
}

.partners-page__quickbooks-screenshot {
  position: absolute;
  left: 0;
  max-width: 2000px;
  height: 385px;
}

.partners-page__quickbooks-instruction-screenshot {
  margin-right: -35px;
}
