.partners-page__global-text {
	margin-top: 124px;
}

.partners-page__billing-text {
	margin-top: 45px;
}

.partners-page__illustration {
	padding: 0;
	text-align: right;
}

.partners-page__browser-image {
	width: 380px;
}

.partners-page__mobile-image {
	max-width: 304px;
}

.partners-page__container {
	border-radius: $border-radius-base;
}

.partners-page__partner-logo {
	max-width: 100px;
	max-height: 50px;
}

.partners-page__partner-logo-group {
	max-width: 673px;
}

.partners-page__quote {
	color: #b1b1b1;
}