@import '../mixins/breakpoints-mixin';

.site-header {
  margin: 0 auto;
  max-width: $site-max-width;
  // min-width: $site-min-width;
  z-index: 1;
  padding: 0 $space-medium;
  background-color: aliceblue;
}

.site-header-wrapper {
  position: absolute;
  width: 100%;
  min-width: 900px;
}

.site-header__product:last-of-type .site-header__product-link-hr {
  display: none;
}

.site-header__product-link {
  padding: $space-xsmall $space-medium;
  display: block;
}

.site-header__product-link:hover .site-header__product-link-title {
  text-decoration: underline;
}
