.table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.table__cell {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.table--faq tr {
  border-bottom: 1px solid $gray;
}

.table--faq td,
.table--faq th {
  padding: $space-small 0;
}
