.videos-container__iframe {
  width: 780px;
  height: 435px;
  background: black;
  box-shadow: 0 2px 18px rgba(0,0,0,0.5);
}

.videos-container--team {
  width: 460px;
}

.videos-container__iframe--light-bg {
  box-shadow: 0 0px 4px rgba(0,0,0,0.3);
}

.video-tile {
  height: 190px;
  background: $site-background-color;
  color: $xdark-gray;
  transition: background 0.4s ease;
}

.video-tile:hover {
  background: $light-gray;
  transition: background 0.2s ease;
}

.video-tile__title {
  height: 58px;
}

.video-tile__time {
  color: $medium-gray;
}

.video-tile.is-active {
  background: $primary-color;
}

.video-tile.is-active * {
  color: white;
}

.video-tile__play-button {
  @include icon('/images/videos/play-button', 32px, 32px);
}

.video-tile.is-active .video-tile__play-button {
  @include icon('/images/videos/play-button--active', 32px, 32px);
}
